@import "tailwindcss";

html, body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-100, currentColor);
  }
}


@theme {
  --color-primary-main: #4f73a8;
  --color-primary-dark: #42639a;
  --color-primary-light: #7191bf;
  --color-base-background: #F9FAFB;

  --color-primary-50: #f4f6fb;
  --color-primary-100: #e9edf5;
  --color-primary-200: #ced8e9;
  --color-primary-300: #a3b7d6;
  --color-primary-400: #7191bf;
  --color-primary-500: #4f73a8;
  --color-primary-600: #42639a;
  --color-primary-700: #324972;
  --color-primary-800: #2c3f60;
  --color-primary-900: #293751;
  --color-primary-950: #1b2336;



  --spacing-sidebar-width: 300px;
  --spacing-top-bar-height: 60px;
  --spacing-field-height: 36px;
}





